.footer {
  color: white;
  text-align: center;
  padding: 10px 0;
  background-color: red; /* Set the background color to red */
  color: white;          /* Optional: Change text color for contrast */

}
.footer-logo {
  height: 30px;
}
